.bjcp-stats-table {
  width: 100%;
  text-align: center;
}

.bjcp-stats-cell {
  width: 33%;
}

.bjcp-stats-cell:nth-of-type(2) {
  width: 34%;
}

.bjcp-stats-beer-cell {
  width: 20%;
}

.bjcp-stats-label {
  font-weight: 800;
  font-size: 0.75rem;
}
